
/* ----- REGULAR CARD IMAGES ----- */

.flex-container img {
    opacity: 0.7%;
    width: 300px;
    height: 412.2px;
    transform: scale(0.5);
    transition: transform 0.5s, opacity 0.5s;
    margin-bottom: -40px;
    margin-left: -40px;
    float: left;
}

.flex-container img:hover {
    opacity: 1;
    transform: scale(0.9);
    margin-left: -40px;

}

/* ----- DECK IMAGES ----- */

.flex-container2 img {
    opacity: 0.7%;
    width: 157.5px;
    height: 216.5px;
    transform: scale(0.5);
    transition: transform 0.5s, opacity 0.5s;
    margin-bottom: -40px;
    margin-left: -40px;
    float: left;
}



.flex-container2 img:hover {
    opacity: 1;
    transform: scale(0.8);
    margin-left: -40px;

}

/* ----- TEXT ----- */

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(230, 195, 0);
    font-size: 60px;
    margin-left: 750px;
    margin-top: 40px;
}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: azure;
}


.deck {
    margin-left: 500px;
    margin-top: 20px;
}

.cards-word {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: -40px;
    margin-left: 880px;
}

.deck-word {
    margin-bottom: -20px;
    font-size: 35px;
    margin-left: 900px;
}

.deck-word-cards{
    margin-top: 40px;
}

.d-inline-flex {
    margin-left: 60px;
}

/* ----- BUTTONS ----- */

.btn-dark,
.btn-warning {
    margin-top: -2px;
    margin-left: -5px;
}

.btn-warning{
    margin-left: -1px;
    margin-right: 4.5px;
}

.the-buttons {
    margin-left: 475px;
}
